* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  color: #E9E9E9;
  font-family: "Motiva Sans", sans-serif;
}


a {
  text-decoration: none;
}

/* glava */
.glava {
    background: #171d25;
    font-family: "Motiva Sans", sans-serif;
    font-size: 14px;
    height: 104px;
    width: 100%;
    min-width: 940px;
}

.vsebina-glave {
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0 auto;
    z-index: 402;
}

/* logo */
.logotip {
    float: left;
    margin-right: 40px;
    padding-top: 30px;
    width: 176px;
    height: 44px;
}

.glavna-navigacija {
    position: absolute;
    left: 200px;
}

.nav-povezava {
    display: block;
    position: relative;
    padding: 45px 7px 7px 7px;
    line-height: 16px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #dcdedf;
    text-transform: uppercase;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}

.nav-povezava:hover {
    color: #ffffff;
}

/* Modra črta pod aktivnim zavihkom */
.nav-povezava.aktivna {
    color: #dcdedf;
}

.nav-povezava.aktivna::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #1a9fff;
    position: absolute;
    bottom: -5px;
    left: 0;
}


.uporabniski-meni {
    position: absolute;
    right: 0;
    top: 6px;
    height: 21px;
    color: #b8b6b4;
    font-size: 11px;
}

/* gumb za namestitev */
.gumb-namesti {
    display: inline-block;
    background-color: #5c7e10;
    height: 24px;
    line-height: 24px;
    margin-right: 3px;
    color: #e5e4dc;
    text-decoration: none;
    vertical-align: top;
}

.vsebina-gumba-namesti {
    padding-left: 35px;
    padding-right: 9px;
    background-image: url("https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1");
    background-repeat: no-repeat;
    background-position: 10px 5px;
    display: block;
}

.gumb-namesti:hover {
    background-color: #6c9018;
    color: #ffffff;
}

/*prijava, jezik*/
.povezava-menija {
    padding: 0 4px;
    cursor: pointer;
    color: #b8b6b4;
    vertical-align: top;
}

.povezava-menija:hover {
    color: #ffffff;
}

.povezava-jezik {
    padding-right: 18px;
    background-image: url("https://store.akamai.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png");
    background-position: right center;
    background-repeat: no-repeat;
}




.store-meni {
    background: radial-gradient(
        107.95% 57.49% at 50% 100%,
        rgba(24, 37, 53, 0.2) 0%,
        rgba(24, 37, 53, 0.5) 5%,
        rgba(24, 37, 53, 0.85) 20%,
        #182535 60%,
        #192330 100%
    );
    background-color: #171a21;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.store-vsebina {
    width: 940px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.store-nav {
    display: flex;
    flex: 1; /*nav elementi si bodo enakomerno porazdelili prostor*/
}

.nav-gumb {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-gumb:hover {
    color: #66c0f4;
}

.nav-gumb svg {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    fill: currentColor;
    transition: transform 0.2s;
}

.nav-gumb:hover svg {
    transform: translateY(2px);
}

/* div za input */
.search-div {
    display: flex;
    height: 30px;
    background: rgba(49, 98, 130, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 3px;
}

.search-box:hover {
    border-color: #66c0f4;
}

.search-input {
    flex: 1;
    min-width: 0;
    padding: 0 10px;
    background: none;
    border: 1px solid #ffffff24;
    border-radius: 2px 0 0 2px;
    color: white;
}

.search-input::placeholder {
    color: white;
    opacity: 0.5;
}

.search-button {
    width: 34px;
    border: none;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    background-color: #1a9fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: #45acff;
}

.search-button svg {
    width: 16px;
    height: 16px;
    fill: #ffffff;
}


/* glavni del */


.sredina {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 150px;
  background-image: url("../photos/bg.jpg");
  background-size: cover;
  background-position: center;
}

.okvir {
  width: 720px;
  height: 424px;
  padding: 20px 32px;
  border-radius: 6px;
}

#signin {
  padding-left: 17px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

.prijavni-okvir {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  background-color: #181a21;
  border-radius: 6px;
 
}

.login-popup {
    position: fixed;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 35px 55px;
    min-width: 380px;
    background: rgba(22, 27, 36, 0.90);
    backdrop-filter: blur(10px);
    border: 3px solid #2d72ff;
    border-radius: 14px;
    box-shadow: 0 0 35px rgba(0,0,0,0.65);
    color: white;
    text-align: center;
    font-size: 22px;
    z-index: 99999;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .25s ease, transform .25s ease;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #b8b6b4;
    cursor: pointer;
}



.leva {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 60%;
}

.sgn,
.pswd {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.sgn {
  color: #1999ff;
  font-weight: 500;
}

.pswd {
  color: #afafaf;
}

.input-box {
  width: 100%;
  height: 36px;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  background-color: #32353c;
  border: 1px solid #32353c;
  border-radius: 2px;
  outline: none;
}

.input-box:focus {
  border-color: #1999ff;
}

.checkbox {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  cursor: pointer;
}

.signin {
  width: 270px;
  margin-top: 12px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
}

.signin:hover {
  opacity: 0.9;
}

.btnsignin {
  display: flex;
  justify-content: center;
}

.help {
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
  color: #afafaf;
  font-size: 12px;
  user-select: none;
  padding-left: 6px;
}

.help:hover {
  color: #d6d6d6;
}

/* QR del */
.desna {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 35%;
}

.qr {
  width: 189px;
  height: 189px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #fff;
  border-radius: 10px;
}

.imgqr {
  width: 170px;
  height: 170px;
}

.upqrtext {
  width: 189px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #1999ff;
  text-align: left;
  margin: 5px;
}

.underqrtext {
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.4;
  color: #afafaf;
  color: #afafaf;
  font-size: 12px;
  user-select: none;
  margin-bottom: 5px;
}

.underqrtext a {
  color: #afafaf;
  text-decoration: underline;
}

.underqrtext a:hover {
  color: #d6d6d6;
}


/* noga */


.noga {
  width: 100%;
  height: 153px;
  padding-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181a21;
}

.divnoga1 {
  width: 300px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headline {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.nogaspan {
  width: 167px;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #47bfff 5%, #1a44c2 60%) 25% / 330% 100%;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #0003;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.nogaspan:hover {
  background: linear-gradient(90deg, #47bfff 5%, #1a44c2 60%) 0% / 330% 100%;
  box-shadow: 2px 2px 15px #00000080;
}

.divnoga2 {
  width: 300px;
  height: 85px;
  margin: 0 auto;
  padding-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181A21;
}

.textnoga2 {
  max-width: 300px;
  flex: 1;
  font-size: 14px;
  color: #b8b6b4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nogaaboutsteam {
  margin-top: 10px;
  color: #b8b6b4;
  text-decoration: underline;
}

.nogaaboutsteam:hover{
	text-decoration: none;
	color: white;
}


/*footer STEAM LOGO*/
footer{
  padding-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181a21;
 padding: 16px 0 60px 0;
    width: 100%;
    height: 273px;
}

.footer-content{
      width: 940px;
    margin: 0px auto;
    padding-top: 16px;
    width: 1000px;
    height: 200px;
    

}

.footer-content img{
  width: 88px;
  height: 25px;
}

.line{
    border-top: 1px solid #363c44;
    height: 8px;
    margin-top: 15px;
}

.footer-text{

    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px;
}

#footer-logo-steam{
  flex-direction: column;
      float: right;
    padding-top: 2px;
    width: 92px;
    height: 31px;
}

.footer-text a{
  text-decoration: none;
  font-weight: normal;
   color: #C6D4DF;
   cursor: pointer;
   font-size: 12px;
}

.footer-text a:hover{
  text-decoration: none;
	color: white;
}

.footer-valve-links{
      margin-top: 8px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #61686D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footer-valve-links a{
   text-decoration: none;
  font-weight: normal;
   color: #C6D4DF;
   cursor: pointer;
   font-size: 13px;
}

.footer-valve-links a:hover{
  color: white;
}

.footer-valve-links img{
  width: 16px;
  height: 16px;
}